{
  "name": "__PKG_NAME__",
  "version": "__VERSION__",
  "description": "__DESCRIPTION__",
  "homepage": "https://docs.upsun.com/anchors/cli/",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/upsun/cli.git"
  },
  "license": "MIT",
  "files": [
    "bin",
    "README.md"
  ],
  "os": __OS__,
  "cpu": __CPU__
}
