{
  "name": "upsun",
  "version": "__VERSION__",
  "description": "Upsun CLI",
  "homepage": "https://docs.upsun.com/anchors/cli/",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/upsun/cli.git"
  },
  "license": "MIT",
  "bin": {
    "upsun": "bin/upsun.js"
  },
  "scripts": {
    "postinstall": "node bin/postinstall.js"
  },
  "files": [
    "bin/upsun.js",
    "bin/postinstall.js",
    "README.md"
  ],
  "engines": {
    "node": ">=18"
  },
  "optionalDependencies": {
    "@upsun/cli-linux-x64": "__VERSION__",
    "@upsun/cli-linux-arm64": "__VERSION__",
    "@upsun/cli-darwin": "__VERSION__",
    "@upsun/cli-win32-x64": "__VERSION__"
  }
}
