parameters:
	level: 10
	paths:
		- resources
		- src
		- tests
	scanFiles:
		- config/cache/container.php
	stubFiles:
		- phpstan-stubs/Activity.stub
		- phpstan-stubs/Command.stub

includes:
	- phpstan-baseline.neon
