parameters:
	level: 8
	paths:
		- dist
		- resources
		- src
		- tests
	scanFiles:
		- config/cache/container.php
		- dist/installer.php
	excludePaths:
		- dist/installer.php
	stubFiles:
		- phpstan-stubs/Activity.stub

includes:
	- phpstan-baseline.neon
